# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# User-uploaded content (IMPORTANT for privacy)
known_faces/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env